@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Manrope&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope';
}

nav{

    z-index: 2;
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding: 0 100px;
    box-shadow: 0 1px  3px rgba(0,0,.1,.4);
    display: flex;
    position: fixed;
    top: 0;
    background: white;
}

#left{
    text-align: left;
    width: 50%;
    font-family: 'Garamond';
    font-size: 4vh;
    font-weight: 600;

}



#right{
    text-align: right;
    width: 50%;
}

nav ul{
    list-style-type: none;
}

nav ul a{
    text-decoration: none;
}

#shoppingCart i {
    font-size: 20px;
    display: inline-block;
    color: #674188;
    margin-right: 20px;
}

#cartCount{
    display : inline-block;
    width: 35px;
    height: 35px;
    background-color: #674188;
    color: white;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
}

/* Main Photo */

.container{
    width: 100%;
    padding: 0;
  
}

header {
    width: 100%;
    background: url("./Images/MainPhoto.jpg");
    height: 400px;
    margin-top: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: #674188;

}


#headerText{
    margin-left: 10vw;
    font-weight: 600;
    font-size: larger;
}

/* Product Styling */

#products{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}

#product{
    width: 25%;
    padding: 0 12px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}

.hot{
    position: absolute;
    top: 0;
    background-color: yellowgreen;
    padding: 5px 20px;
    color: black;
}

.new{
    position: absolute;
    top: 0;
    background-color: orangered;
    padding: 5px 20px;
    color: black;
}



#pro_img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

#pro_img img{
    width: 100%;
}

#pro_details{
    padding: 15px 10px;
    text-align: center;
    background: white;
    border-left: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
}

#pro_name{
    font-size: 4vh;
    font-weight: 500;
    margin: 12px 0;
    color: #674188;
    font-family: 'Garamond';
}

#pro_price{
    font-size: 20px;
    font-weight: 300;
    margin: 17px 0;
}

#add_to_cart{
    background: #674188;
    padding: 10px 20px;
    border-radius: 5vw;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

#head{
    text-align: center;
    font-family: 'Garamond';
    color: #674188;
    font-size: 4vh;
    font-weight: 600;
}


#not_found{
    margin-top: 100px;
    
}

#not_found{
    color: #674188;
    text-align: center;
    font-size: 6vh;
    margin-top: 40vh;
}

/* Cart Styling */

.cart_container {
    width: 100%;
    margin-top: 30px;
    padding : 0 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cart_details {
    width: 75%;
    border: 1px solid #fafafa;
    border-radius: 5px;
}

.cart {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px 20px;
}

.cart_image {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    overflow:
}

.cart_image img{
    width: 100%;
    height: 100%;
}

.cart_product_name{
    width: 150px;
    padding: 0 15px;
    font-weight: bold;
    font-size: 14px;
}

.cart_product_price {
    display: inline-block;
    width: 120px;
    padding: 0 15px;
    text-align: center;
    font-weight: bold;
    color: #674188;
}

.inc{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #674188;
    font-size: 14px;
    color:#674188;
    border-radius: 3px;
    cursor: pointer;
}

.product_quantity{
    display: inline-block;
    padding: 0 15px;
    font-size: 15px;
    width: 70px;
    text-align: center;
}

.dec{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #674188;
    font-size: 14px;
    color:#674188;
    border-radius: 3px;
    cursor: pointer;
}

.product_total_price{
    display: inline-block;
    width: 170px;
    padding: 0 15px;
    text-align: center;
}

.delete_product{
    border: none;
    color: red;
    cursor: pointer;
}

/* Cart Summary*/

.cart_summary {
    width: 25%;
    padding: 0 0 0 20px;
    margin-top: 70px;
}

.summary{
    background: white;
    padding: 13px;
}

.summary h3{
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #999;
    padding-bottom: 8px;
}

.total_items{
    display: flex;
    margin: 15px 0;
}

.items{
     width: 50%;
     text-align: left;
     font-weight: normal;
}

.items_count{
    width: 50%;
    text-align: right;
    font-weight: bold;
    color: #674188;
}

.total_price_selection{
    display: flex;
    margin : 15px 0;
}

.just_title{
    width: 50%;
    text-align: left;
    font-weight: normal;
}

.items_price{
    width: 50%;
    text-align: right;
    font-weight: bold;
    color: #674188;
}